.cardFlex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mainTextNumber {
  color: #ff4b4b !important;
  font-size: 3rem !important;
  font-weight: 900 !important;
}

.subtitleNumber {
  color: #464646 !important;
  font-size: .75rem !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}