// main colors

$primary: #b91919;
$secondary: #d93501;
$secondary2: #e3593b;

// neutral colors

$white: #fff;
$black: #000;

// feedback colors

$success: #44c969;
$warning: #ffb800;
$danger: #ee2828;
