/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-empty-line-before */
/* stylelint-disable order/properties-order */

// main colors

$primary: #b91919;
$primaryLight: #b9191947;

$secondary: #d93501;
$secondary2: #e3593b;
$secondary3: #ff9077;

// neutral colors

$whiteT200: #fff;
$whiteT100: #fefefe;
$white: #fdfdfd;
$whiteS100: #e4e4e4;
$whiteS200: #cacaca;
$whiteS300: #b1b1b1;
$whiteS400: #989898;
$whiteS500: #7f7f7f;

$black: #000;

$greyLight: #e9e9e9;

// feedback colors

$success: #44c969;
$warning: #ffb800;
$danger: #ee2828;

:export {
  primary: $primary;
  primaryLight: $primaryLight;

  secondary: $secondary;

  whiteT200: $whiteT200;
  whiteT100: $whiteT100;
  white: $white;
  whiteS100: $whiteS100;
  whiteS200: $whiteS200;
  whiteS300: $whiteS300;
  whiteS400: $whiteS400;
  whiteS500: $whiteS500;

  black: $black;

  danger: $danger;
  success: $success;
  warning: $warning;
}
