@import "/src/styles/";

.arenaCardDetailsEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  border: $primaryT300 0.25rem dashed;
  border-radius: 0.75rem;
}