@import "/src/styles/";
 
@font-face {
  font-family: 'SplatterKings';
  src: local('../../../assets/fonts/SplatterKings-Bgex.ttf'), url('../../../assets/fonts/SplatterKings-Bgex.ttf');
  font-weight: 400;
  font-style: normal;
  }

  .balance {
    font-family: SplatterKings;
  }