@import "/src/styles/";

.cardList {
  overflow-y: scroll;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  align-content: start;

  height: 90%;
  padding: 1rem;

  background: $whiteS100;
  border-radius: 0.75rem;
}