.wrapper {
  display: flex;

  // background: red;
  height: 100vh;
  padding: 1rem;
}

.imgPanel {
  display: flex;
  flex-basis: 45%;
  align-items: center;
  justify-content: center;

  background: #b91919;
  border-radius: 1rem;

  // box-shadow: 0 0 17px 13px rgb(125 0 0 / 13%);
}

.contentPanel {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 0;
}

.goBack {
  margin-left: 1rem;
  color: black;

  &:visited {
    color: none;
  }
}
