.wrapper {
  display: flex;

  // background: red;
  height: 100vh;
  padding: 1rem;
}

.leftPanel {
  display: flex;
  flex-basis: 45%;
  align-items: center;
  justify-content: center;

  background: #b91919;
  border-radius: 1rem;
  box-shadow: 0 0 17px 13px rgb(125 0 0 / 13%);
}

.rightPanel {
  display: flex;
  flex-basis: 55%;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}
