@import '/src/styles/';

.main {
  height: 100vh;
}

.header {
  position: relative;
  height: 100%;
  background: red;
}

.lottieWarriors {
  position: absolute;
  height: 100vh;
}

.title {
  font-weight: 900;
}

.section {
  height: 100%;
  background: blue;

  &:nth-child(3) {
    background: green;
  }
}
