@import '/src/styles/';



.header {
  position: relative;
  display: flex;
  height: 88vh;
  
}

.headerContent {
  z-index: 10;
  display: flex;
  padding: 1.6rem;
  
}

.matchCard {
  position: absolute !important;
  top: 20vh !important;
  left: 5rem !important;
  width: 30% !important;
  height: 60vh !important;
  padding: 1rem !important;
  cursor: pointer !important;
}

.lottieWarriors {
  position: absolute;
  height: 100%;
}

.catchPhrase {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.section {
  height: 100%;
  border: 1px solid red;
}
