@import '/src/styles/';

.main {
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
  height: 100%;
}

.headerContent {
  z-index: 10;
  display: flex;
}

.lottieWarriors {
  position: absolute;
  height: 100vh;
}

.title {
  font-weight: 900;
}

.section {
  height: 100%;
  border: 1px solid red;
}
