@import '/src/styles';

.betListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6rem;
  margin: 0 1rem;
  padding: 4rem 1rem;

  border: $black 0.1rem solid;
}

.monster {
  width: 4rem;
  height: 4rem;

  background: $white;
  border: $black 0.1rem solid;
  border-radius: 100rem;
}

.monsterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
